<div class="border border-secondary container d-flex flex-column justify-content-center" *ngIf="persona" style="height: 100vh;">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="descripcion">Descripcion personal</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="perfil">Perfil TI</label>
                    <input type="text" class="form-control" id="perfil" name="perfil" [(ngModel)]="persona.perfil" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="img">Foto de perfil</label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" (change)="uploadImage($event)" 
                    accept=".jpg, jpeg, .png">
                </div>
                <br>
                <button class="btn btn-secondary">
                    Editar Datos
                </button>
            </form>
        </div>
    </div>
</div>
